"""
AIGIS config file
"""
PLUGIN_TYPE = "core"
ENTRYPOINT = "{root}"

SYSTEM_REQUIREMENTS = ["pdftk", "pdflatex"]

REQUIREMENT_COMMAND = "python3.10 -m pip install --user --index-url https://pypi.python.org/simple -r"
REQUIREMENT_FILE = "{root}/requirements.txt"

SECRETS = {"credentials.json": "{root}/dnd/auth/"}
